[submodule "library/reactronic"]
	path = library/reactronic
	url = https://github.com/nezaboodka/reactronic.git
[submodule "library/verstak"]
	path = library/verstak
	url = https://github.com/nezaboodka/verstak.git
