@font-face {
  font-family: "Tektur";
  src: url("/assets/fonts/tektur/ttf/TekturNarrow-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  font-family: sans-serif;
  font-size: min(5vw, 0.5cm);
}

body > блок[вид="секция"],
body > block[kind="section"],
body > блок[вид="группа"] > блок[вид="секция"],
body > block[kind="group"] > block[kind="section"] {
  flex-grow: 1;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

pre {
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
  overflow: auto;
}

code {
  font-family: Consolas, monospace;
  font-size: smaller;
  white-space: nowrap;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

img {
  width: auto;
  min-width: 1.15em;
  height: 1.15em;
  object-fit: contain;
}

@keyframes transform-rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@media only screen and (max-width: 760px) {
  div, section { /* part */
    flex-direction: column;
  }
}
