
/* Dark theme */

.dark .toc-inner {
  background-color: #15293e;
  border: 1px solid rgba(0, 0, 0, 0.15);
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset; */
}

.dark pre {
  color: #f0f0f0;
  background-color: #15293e;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
}

/* .dark .token {
  color: #D7D7D7;
} */

.dark .substitution {
  color: #D7D7D7;
}

.dark .token.keyword,
.dark .token.symbol,
.dark .token.brace-curly,
.dark .token.brace-square {
  color: #86CCF6;
}

.dark .token.kw {
  color: #86CCF6;
}

.dark .token.tag {
  /* color: #FFD0D0; */
  /* font-size: 80%; */
  color: #86CCF6;
  font-style: italic;
}

.dark .token.punctuation {
  /* color: #9090A0; */
  color: #547289;
}

.dark .token.number,
.dark .token.string,
.dark .token.string-line {
  color: #FFD0D0;
}

.dark .token.string .token.substitution > .token.brace-curly {
  color: #86CCF6;
}

.dark .token.comment {
  color: #808090;
  font-style: italic;
}

.dark .token.type {
  color: #5EF9C0;
}

.dark .token.operation,
.dark .token.function {
  color: #FFFFA0;
}
