
/* Light theme */

.light .toc-inner {
  background-color: unset;
  border: 1px solid rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset; */
}

.light pre {
  color: #000000;
  background-color: inherit;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
}

.light .substitution {
  color: #202020;
}

.light .token.comment {
  color: #A0A0A0;
  font-style: italic;
}

.light .token.number,
.light .token.string,
.light .token.string-line {
  color: #027111;
}

.light .token.string .token.substitution > .token.brace-curly {
  color: #2222CC;
}

.light .token.type {
  color: #469FA9;
}

.light .token.operation,
.light .token.function {
  color: #930505;
}

.light .token.keyword,
.light .token.symbol,
.light .token.brace-curly,
.light .token.brace-square {
  color: #2222CC;
}

.light .token.kw {
  color: #2222CC;
}

.light .token.tag {
  /* color: #027111; */
  /* font-size: 80%; */
  color: #2222CC;
  font-style: italic;
}

.light .token.punctuation {
  color: #B0B0B0;
  /* color: #abade9; */
}
