
/* Verstak Presets */

/* bar-x, */
блок[вид="цепочка"],
block[kind="chain"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  flex-shrink: 1;
  min-width: 0;
}

/* bar-x[wrapping] > row,
bar-x[wrapping="true"] > row, */
блок[вид="цепочка"][перенос] > строка,
блок[вид="цепочка"][перенос="да"] > строка,
block[kind="chain"][wrapping] > row,
block[kind="chain"][wrapping="true"] > row {
  flex-flow: wrap;
}

/* table-x, */
блок[вид="таблица"],
block[kind="table"] {
  display: grid;
  flex-basis: 0;
  grid-auto-rows: minmax(min-content, 1fr);
  grid-auto-columns: minmax(min-content, 1fr);
  text-align: initial;
}

строка,
row {
  display: flex;
  flex-direction: row;
}

/* note-x, */
блок[вид="заметка"],
block[kind="note"] {
  flex-shrink: 1;
}

/* note-x:not([wrapping]),
note-x[wrapping="false"], */
блок[вид="заметка"]:not([перенос]),
блок[вид="заметка"][перенос="нет"],
block[kind="note"]:not([wrapping]),
block[kind="note"][wrapping="false"] {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* note-x[wrapping],
note-x[wrapping="true"], */
блок[вид="заметка"][перенос="да"],
block[kind="note"][wrapping="true"] {
  display: inline-grid;
}

/* group-x, */
блок[вид="группа"],
block[kind="group"] {
  display: contents;
}

/* table-x > row, */
блок[вид="таблица"] > строка,
block[kind="table"] > row {
  display: none;
}

/* table-x > bar-x, */
блок[вид="таблица"] > блок[вид="цепочка"],
block[kind="table"] > block[kind="chain"] {
  place-self: stretch;
}

строка > *:not([наложение]) { align-self: center; }
[наложение] { position: absolute; min-width: 100%; box-sizing: border-box; }
[наложение="скрыто"] { display: none !important; }
[наложение="направо-вниз"] { left: 0; top: 100%; }
[наложение="направо-вверх"] { left: 0; bottom: 100%; }
[наложение="налево-вниз"] { right: 0; top: 100%; }
[наложение="налево-вверх"] { right: 0; bottom: 100%; }
[штабель] { position: relative; }
[штабель="да"] { position: relative; }
row > *:not([overlay]) { align-self: center; }
[overlay] { position: absolute; min-width: 100%; box-sizing: border-box; }
[overlay="hidden"] { display: none !important; }
[overlay="rightward-downward"] { left: 0; top: 100%; }
[overlay="rightward-upward"] { left: 0; bottom: 100%; }
[overlay="leftward-downward"] { right: 0; top: 100%; }
[overlay="leftward-upward"] { right: 0; bottom: 100%; }
[stacking] { position: relative; }
[stacking="true"] { position: relative; }

/* Verstak Blinking Effect */

.verstak-blinking-effect-0-0 {
  animation: verstak-blinking-animation-ex-0-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-0-1 {
  animation: verstak-blinking-animation-ex-0-2 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-1-0 {
  animation: verstak-blinking-animation-ex-1-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-1-1 {
  animation: verstak-blinking-animation-ex-1-2 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-2-0 {
  animation: verstak-blinking-animation-ex-2-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-2-1 {
  animation: verstak-blinking-animation-ex-2-2 1.5s ease-in 1 !important;
}

/* Verstak Blinking Animation */

@keyframes verstak-blinking-animation-0-2 {
  from { box-shadow: 0 0 0 2px red inset; }
}

@keyframes verstak-blinking-animation-1-1 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-1-2 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-2-1 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}

@keyframes verstak-blinking-animation-2-2 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}

/* Verstak Blinking Animation */

@keyframes verstak-blinking-animation-ex-0-1 {
  from { outline-offset: -1px; outline: 2px solid red; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-0-2 {
  from { outline-offset: -1px; outline: 2px solid red; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-1-1 {
  from { outline-offset: -1px; outline: 2px solid #0000BB; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-1-2 {
  from { outline-offset: -1px; outline: 2px solid #0000BB; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-2-1 {
  from { outline-offset: -1px; outline: 2px solid #00BB00; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-2-2 {
  from { outline-offset: -1px; outline: 2px solid #00BB00; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}
