
/* Verstak Layout Presets */

v-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
}

v-grid {
  display: grid;
  flex-basis: 0;
}

v-text {
  display: block;
  flex-grow: 1;
  flex-basis: 0;
}

v-group {
  display: contents;
}

/*
v-block > v-line:only-child {
  flex-grow: 1;
}
*/

v-block > v-line {
  display: flex;
  flex-direction: row;
}

v-grid > v-line {
  display: contents;
}

v-line > v-block {
  align-self: center;
}

/*
v-grid > v-block > v-line:last-child {
  flex-grow: 1;
}

v-grid > v-block > v-line:only-child {
  flex-grow: 0;
}
*/

/* Verstak Blinking Effect */

.verstak-blinking-effect-0-0 {
  animation: verstak-blinking-animation-0-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-0-1 {
  animation: verstak-blinking-animation-0-2 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-1-0 {
  animation: verstak-blinking-animation-1-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-1-1 {
  animation: verstak-blinking-animation-1-2 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-2-0 {
  animation: verstak-blinking-animation-2-1 1.5s ease-in 1 !important;
}

.verstak-blinking-effect-2-1 {
  animation: verstak-blinking-animation-2-2 1.5s ease-in 1 !important;
}

/* Verstak Blinking Animation */

@keyframes verstak-blinking-animation-0-1 {
  from { box-shadow: 0 0 0 2px red inset; }
}

@keyframes verstak-blinking-animation-0-2 {
  from { box-shadow: 0 0 0 2px red inset; }
}

@keyframes verstak-blinking-animation-1-1 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-1-2 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-2-1 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}

@keyframes verstak-blinking-animation-2-2 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}
