
/* Verstak Presets */

/* блок,
block {
  align-self: center;
} */

/* блок[вид="лента"],
block[kind="band"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  flex-shrink: 1;
  min-width: 0;
} */

/* блок[вид="таблица"],
block[kind="table"] {
  display: grid;
  flex-basis: 0;
  grid-auto-rows: minmax(min-content, 1fr);
  grid-auto-columns: minmax(min-content, 1fr);
  text-align: initial;
} */

/* блок[вид="лента"][перенос] > строка,
блок[вид="лента"][перенос="да"] > строка,
block[kind="band"][wrapping] > row,
block[kind="band"][wrapping="true"] > row {
  flex-flow: wrap;
} */

/* строка,
row {
  display: flex;
  flex-direction: row;
} */

/* блок[вид="заметка"],
block[kind="note"] {
  flex-shrink: 1;
} */

/* блок[вид="заметка"]:not([перенос]),
блок[вид="заметка"][перенос="нет"],
block[kind="note"]:not([wrapping]),
block[kind="note"][wrapping="false"] {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

/* блок[вид="заметка"][перенос="да"],
block[kind="note"][wrapping="true"] {
  display: inline-grid;
} */

/* блок[вид="группа"],
block[kind="group"] {
  display: contents;
} */

/* блок[вид="таблица"] > строка,
block[kind="table"] > row {
  display: none !important;
} */

/* блок[вид="лента"] > блок,
block[kind="band"] > block {
  place-self: start center;
}

блок[вид="таблица"] > блок[вид="лента"],
block[kind="table"] > block[kind="band"] {
  place-self: stretch;
} */

/* Verstak Blinking Effect */

.ё .ё00 {
  animation: verstak-blinking-animation-ex-0-1 1.5s ease-in 1 !important;
}

.ё .ё01 {
  animation: verstak-blinking-animation-ex-0-2 1.5s ease-in 1 !important;
}

.ё .ё10 {
  animation: verstak-blinking-animation-ex-1-1 1.5s ease-in 1 !important;
}

.ё .ё11 {
  animation: verstak-blinking-animation-ex-1-2 1.5s ease-in 1 !important;
}

.ё .ё20 {
  animation: verstak-blinking-animation-ex-2-1 1.5s ease-in 1 !important;
}

.ё .ё21 {
  animation: verstak-blinking-animation-ex-2-2 1.5s ease-in 1 !important;
}

/* Verstak Blinking Animation */

@keyframes verstak-blinking-animation-0-2 {
  from { box-shadow: 0 0 0 2px red inset; }
}

@keyframes verstak-blinking-animation-1-1 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-1-2 {
  from { box-shadow: 0 0 0 2px #0000BB inset; }
}

@keyframes verstak-blinking-animation-2-1 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}

@keyframes verstak-blinking-animation-2-2 {
  from { box-shadow: 0 0 0 2px #00BB00 inset; }
}

/* Verstak Blinking Animation */

@keyframes verstak-blinking-animation-ex-0-1 {
  from { outline-offset: -1px; outline: 2px solid red; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-0-2 {
  from { outline-offset: -1px; outline: 2px solid red; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-1-1 {
  from { outline-offset: -1px; outline: 2px solid #0000BB; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-1-2 {
  from { outline-offset: -1px; outline: 2px solid #0000BB; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-2-1 {
  from { outline-offset: -1px; outline: 2px solid #00BB00; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}

@keyframes verstak-blinking-animation-ex-2-2 {
  from { outline-offset: -1px; outline: 2px solid #00BB00; }
  to { outline-offset: -1px; outline: 2px solid transparent; }
}
